
body, html {
  margin: 40px;
  width: 100%;
  background-color: black;
}

.main-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: auto;


}

header, sidebar , main , footer {
  border-radius: 5px;
       padding: 20px;
       font-size: 150%;
color: white;

}

header {

  background: red;
  grid-column: 1/3;
  grid-row: 1;
}

sidebar {

  background: blue;
  grid-column: 3;
  grid-row: 1/3;
}

main {

  background: grey;
  grid-column: 1;
  grid-row: 2;
}

footer {

  background: brown;
  grid-column: 2;
  grid-row: 2;
}
